@model IEnumerable<EcommerceStore.Models.ViewModels.Shop.CategoryVM>

@{
    var tempPageTitle = @ViewBag.Title;
}


    @foreach (var item in Model)
    {
        if (tempPageTitle == item.Name)
        {
            <li class="active"><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
        }
        else
        {
            <li><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
        }
    }
    <form action="/Shop/Search" class="search" method="get">
        <input name="searchString" type="text" />
        <input class="btn detailsbtn btn-primary" type="submit" value="Search"/>
    </form>


