@model IEnumerable<EcommerceStore.Models.ViewModels.Shop.CategoryVM>

    
        @foreach (var item in Model)
        {
        <li><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
        }
        <form class="search" action="/shop/search" method="post">
            <input name="searchterm" type="text" />
            <div class="searchimg"><img style="display:inline-block" src="~/Content/img/searchicon25wh.png" /></div>
        </form>


